html, body {
	padding:0;
	margin:0;
}

* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

header {
	background:#fff;
	max-height:10vh;
}

.container {
	width: 1200px;
	margin:0 auto;
}

.logo h1 {
	color:#2a00ff;
}

.hero {
	background: #f3f3f3;
	width:100%;
	max-height: 25vh;
	display:flex;
	align-items:center;
}

.hero div {
	display:inline-block;
}

.hero span {
	display:block;
	padding-bottom:10px;
	font-size:18px;
}

.hero .details h1 {
	color:#17BABC;
}

.hero .col-1 {
	padding:30px 0 30px 50px;
	width:49%;
	display:inline-block;
}

.hero .col-2 {
	padding:30px 50px;
	width:50%;
	display:inline-block;
}

.hero .details h2 {
	width:44px;
	height:44px;
	text-align:center;
	padding-top:6px;
	color:#fff;
	border-radius:50%;
	background:#ff0060;
	display:inline-block;
}

.icon img {
	max-height:25vh;
}

#chatbox {
	background:#eeeeee;
	overflow-y:scroll;
	max-height:60vh;
}

#chatbox .leftSide {
	float:left;
	clear:both;
	padding-bottom: 25px;
}

#chatbox .rightSide {
	float:right;
	clear:both;
	padding-bottom: 25px;
	text-align:right;
}

#chatbox .leftSide > div {
	display:table;
}

#chatbox .leftSide > div img {
	max-width:48px;
}

#chatbox .leftSide > div > div {
	vertical-align: top;
   	display: table-cell;
   	padding-left:15px;
}

#chatbox .leftSide > div > div > div:nth-child(1), #chatbox .rightSide > div > div > div:nth-child(1) {
	font-weight:500;
	font-size:16px;
	color:#2a00ff;
	margin-bottom:10px;
}

#chatbox .leftSide > div > div > div:nth-child(2), #chatbox .rightSide > div > div > div:nth-child(2) {
	padding:10px 15px;
	border-radius:8px;
	background:#fff;
}

.chatsubmit {
	max-height:3vh;
}

