html, body {
	padding:0;
	margin:0;
}

* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

header {
	background:#fff;
	max-height:10vh;
}

.container {
	width: 1200px;
	margin:0 auto;
	position:relative;
}

.logo h1 {
	color:#2a00ff;
	font-size:30px;
	margin:0;
	padding:20px 0;
}

.hero {
	background: #f3f3f3;
	width:100%;
	max-height: 25vh;
	display:flex;
	align-items:center;
}

.hero div {
	display:inline-block;
}

.hero span {
	display:block;
	padding-bottom:10px;
	font-size:18px;
}

.hero .details h1 {
	color:#17BABC;
	font-size:30px;
}

.hero .col-1 {
	padding: 30px 0 30px 70px;
	    display: inline-block;
	    float: left;
}

.hero .col-2 {
    padding: 30px 50px;
    display: inline-block;
    float: right;
}

.hero .details h2 {
	width:44px;
	height:44px;
	text-align:center;
	padding-top:6px;
	color:#fff;
	border-radius:50%;
	background:#ff0060;
	display:inline-block;
}

.icon img {
	max-height:25vh;
}

#chatbox {
	background:#eeeeee;
	overflow-y:scroll;
	max-height:60vh;
}

#chatbox .leftSide {
	float:left;
	clear:both;
	padding-bottom: 25px;
}

#chatbox .rightSide {
	float:right;
	clear:both;
	padding-bottom: 25px;
	text-align:right;
}

#chatbox .leftSide > div {
	display:table;
}

#chatbox .leftSide > div img {
	max-width:48px;
}

#chatbox .leftSide > div > div {
	vertical-align: top;
   	display: table-cell;
   	padding-left:15px;
}

#chatbox .leftSide > div > div > div:nth-child(1), #chatbox .rightSide > div > div > div:nth-child(1) {
	font-weight:500;
	font-size:16px;
	color:#2a00ff;
	margin-bottom:10px;
}

#chatbox .leftSide > div > div > div:nth-child(2), #chatbox .rightSide > div > div > div:nth-child(2) {
	padding:10px 15px;
	border-radius:8px;
	font-size:22px;
	background:#fff;
}

.chatsubmit {
    height: 6.8vh;
    background:#eeeeee;
}

input#msgField {
	width:100%;
	height:4vh;
	margin-top:1vh;
	font-size:18px;
	padding:5px 10px;
	border:2px solid #d9d9d9;
}

.chatsubmit button {
	position:absolute;
	right:0;
	top:1vh;
	height:4vh;
	width:100px;
	background:none;
	border: 0px none transparent;
	border-left:2px solid #d9d9d9;
	cursor:pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}